*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

body{

    color: #090809 ;
    background: url(images/img1-removebg.png);
    background-color: #EEE3F9 ;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.fundotopo{
    
    display: none;

}

.fundotopo img{

    max-width: 100%;
    height: auto;
    
}

.conteudo{

    margin: 0 auto;
    max-width: 1000px;
}

header{

    max-width: 580px;
}

header h2{

    color: #9F48F5;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

header h3{

    color:#0B0A0D ;
    font-size: 28px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;

}
