*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

body{

    color: #090809 ;
    background: url(images/img1.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    
}

.fundotopo{
    
    display: none;

}

.fundotopo img{

    max-width: 100%;
    height: auto;
}
