*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

body{

    color: #090809 ;
    background: url(images/klb.jpg);
    margin-top: 30px;
    background-color:#DFEFF7   ;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.fundotopo{
    
    display: none;

}

.fundotopo img{

    max-width: 100%;
    height: auto;
    
}

.conteudo{

    margin: 0 auto;
    max-width: 1000px;
}

header{

    max-width: 800px;
}

header h2{

    color: #9F48F5;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 90px;
}

header h3{

    color:#0B0A0D ;
    font-size: 28px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 90px;

}

.comprar{

    margin: 30px auto 60px;
    max-width: 900px;
    font-size: 0;
    margin-left: 90px;
    
    
}

.comprar ul li{

    display: inline-block;
    margin: 0 10px;
}

.comprar li a{

    display: block;
    height: 42px;
}

.capa{

    margin-top: 600px;
    margin-left: 120px;
    
}

.capa img{

    margin-left: 100px;

}